<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/main.css">

    <script defer src="/javascript/client.js"></script>

    <title>Robertness - Norge</title>
</head>
<body>

    <%- include('components/sidebar') %>

    <div class="main-content">
        <%- include('components/searchbar') %>

        <div class="grid">
            <% posts.forEach(post => { %>
                <div class="grid-item">
                    <a href="/post/<%= post._id %>">
                        <img src="/images/uploads/<%= post.image %>" alt="Post Image" />
                    </a>        
                    <div class="info">
                        <img class="profilelogo" src="/gfx/logo.png" alt="">
                        <% if (post.posttext !== ``) { %>
                            <p><%= post.posttext %></p>
                        <% } %>
                    </div>
                </div>
            <% }) %>    
        </div>   
        
        
    </div>
</body>

</html>